* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 50px auto;
    border: 1px solid silver;
}

img {
    width: 200px;
    margin: 25px 0;
}

button {
    border: 1px solid silver;
    padding: 10px;
    width: 250px;
}

.box {
    width: 500px;
    height: 200px;
    border: 1px solid silver;
}

summary {
    display: none;
}